# **************************************************************************** #
#                            Advent of Code 2025                               #
# **************************************************************************** #

# 2025 template
.2025-template:
  variables:
    AOC_YEAR: 2025

# Prepare docker for 2025
docker ~ aoc-2025:
  extends:
    - .2025-template
    - .prepare-docker-template

# 2025 Elixir build
build ~ aoc-2025:
  stage: build
  extends:
    - .2025-template
    - .run-current-year-template
  needs:
    - docker ~ aoc-2025
  script:
    - mix deps.get && mix escript.build --verbose

# 2025 Elixir test
test ~ aoc-2025:
  stage: test
  extends:
    - .2025-template
    - .run-current-year-template
  needs:
    - build ~ aoc-2025
  script:
    - mix deps.get && mix test --all-warnings
  artifacts:
    when: always
    reports:
      junit: _build/test/lib/*/test-junit-report.xml

# 2025 Elixir fmt check
format ~ aoc-2025:
  stage: test
  extends:
    - .2025-template
    - .run-current-year-template
  needs:
    - docker ~ aoc-2025
    - job: build ~ aoc-2025
      optional: true
  script:
    - mix format --check-formatted
  allow_failure: true

# 2025 Elixir benchmark
bench ~ aoc-2025:
  stage: benchmark
  extends:
    - .2025-template
    - .run-current-year-template
  needs:
    - test ~ aoc-2025
  script:
    - mix deps.get && mix bench
    - cd ${CI_PROJECT_DIR}
    - mkdir -p benchmarks_${AOC_YEAR}
    - mv _build/benchmarks benchmarks_${AOC_YEAR}
    - mv benchmarks_${AOC_YEAR}/aoc2025.html benchmarks_${AOC_YEAR}/index.html
  artifacts:
    paths:
      - benchmarks_${AOC_YEAR}
